/***** Core Style *****/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rambla", sans-serif;
}

header {
  width: 300px;
}

.all-container {
  /*position: relative;*/
  margin-left: 320px;
  margin-top: 0;
}

section {
  margin: 50px;
  padding: 50px 0;
}

* h1 {
  font-size: 1.7em;
  font-weight: 600;
  padding-bottom: 1.2em;
}

* h5 {
  font-size: 1.2rem;
  font-weight: 600;
}

* p {
  font-size: 1.2em;
  line-height: 1.4em;
  padding-bottom: 1.2em;
  padding-top: 1.2em;
  width: 80%;
}

/***** id=header section @Emre Pirci *****/
header {
  background-color: white;
  min-width: 280px;
  position: fixed;
  top: 0;
  height: 100vh;
  text-align: center;
  padding: 30px;
  box-shadow: 0 3px 10px 0 rgba(0 0 0 0.3);
}

header img {
  width: 100px;
  border-radius: 100px;
  margin-bottom: 1.5em;
}

header h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1em;
}

header ul {
  text-align: left;
  font-size: 1.1em;
  font-weight: 500;
}

header ul li {
  margin: 10px;
  border-bottom: solid 1px #eee;
  list-style: none;
}

header ul li a {
  color: #090a0c;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

header ul li a:hover {
  color: #ff4f00;
}

/***** id=home section @Emre Pirci *****/
#home {
  text-align: center;
  padding-top: 100px;
  background: url("../img/cover.jpg");
  height: calc(100vh - 150px);
  background-size: cover;
  margin: 0;
}

#home img {
  width: 200px;
  border-radius: 100px;
  border: 10px solid rgba(255, 255, 255, 0.5);
}

#home .title {
  font-size: 50px;
  color: #000;
  font-weight: 600;
  margin: 30px 0;
}

#home .title:hover {
  color: white;
}

#home .title span {
  transition: all 0.3s;
}

#home .btn {
  border: solid 3px white;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-block;
  padding: 15px;
  background-color: white;
}

#home .btn:hover {
  background: none;
}

#home .btn:hover a {
  color: white;
}

#home .btn a {
  color: #090a0c;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

#home .btn.reverse {
  background: none;
  color: white;
}

#home .btn.reverse:hover {
  background-color: white;
  color: black;
}

#home .btn.reverse:hover a {
  color: #090a0c;
}

#home .btn.reverse a {
  color: white;
}

/****** id=about section @Aikel Shukurbekova ******/
#about .myimg {
  max-width: 50%;
  flex-basis: 50%;
}
#about h1 {
  text-align: left;
  border-bottom: 1px solid black;
  /* width: 500px; */
}
#about img {
  width: 90%;
}
#about .img-about {
  padding-left: 20px;
}

#about {
  display: flex;
}
#about .myinfo {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

#about table {
  text-align: left;
}
#about table th {
  font-weight: 600;
  padding-bottom: 5px;
  line-height: 25px;
}
#about button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: #ff4f00;
  color: white;
  border: none;
  transition: all 0.3s;
}
#about button:hover {
  background-color: black;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.29);
}

/****** id=what section @Adilkhan Marzen  ******/
#what .container h1,
h3 {
  text-align: center;
}

#what .wrapper {
  margin-top: 7%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  /*grid-gap: 20px;*/
}

#what .box {
  /*margin: 20px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  text-align: center;
  font-size: 25px;
  transition: all 0.5s;
  width: 60%;
  height: 200px;
  margin: 20px auto 20px auto;
  min-height: 50%;
}

#what .box:hover {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.29);
  margin: 10px 10px 10px 10px;
  border: 1px solid #ff4f00;
  border-radius: 40px;
  color: #ff4f00;
  font-weight: bold;
}

/******  id=experience section @Daniyar Murzaguzhinov ******/
#experience .experience {
  padding: 50px 0;
}

#experience .experience-h {
  text-align: center;
}

#experience .experience-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 25px;
  margin: 25px;
}

#experience .experience-box {
  border: solid 1px #eee;
  padding: 20px;
}

#experience .experience-box:hover {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.3);
}

#experience .experience-box:hover .box-header .box-years {
  padding: 10px 50px;
  width: 70%;
}

#experience .box-header {
  position: relative;
}
#experience .box-years {
  display: inline-block;
  padding: 10px;
  background-color: #ff4f00;
  transition: all 0.15s;
  color: white;
}

#experience .box-icon {
  position: absolute;
  right: 20px;
  top: 0;
  padding: 5px;
  background-color: #ff4f00;
  width: 30px;
  border-radius: 50%;
  z-index: 2;
}

/******i d=skills section @Jantai Aidyraliev ******/
#skills .skills {
  /*display: flex;*/
  /*width: fit-content;*/
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  margin: 0;
  text-align: left;
}

.skills {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 25px;
}
#skills .skills-box {
  /*display: inline-block;*/
  /*width: 44%;*/
  margin: 20px 0;
}

#skills .group {
  margin: 20px;
}
#skills .tech-skills {
  margin: 10px;
  padding: 3px;
}
#skills .exp-per1 {
  font-weight: bold;
  border: solid 1px #eee;
  padding: 5px 10px;
  display: inline-block;
  background-color: lightgray;
  width: 10%;
}
#skills .tech-skills .row-one {
  background-color: #ff4f00;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  transition: all 0.3s;
  border: solid 1px #eee;
  width: 20%;
}
#skills .exp-per2 {
  font-weight: bold;
  border: solid 1px #eee;
  padding: 5px 10px;
  display: inline-block;
  background-color: lightgray;
  width: 10%;
}
#skills .tech-skills .row-two {
  background-color: #ff4f00;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  transition: all 0.3s;
  border: solid 1px #eee;
  width: 20%;
}
#skills .exp-per3 {
  font-weight: bold;
  border: solid 1px #eee;
  padding: 5px 10px;
  display: inline-block;
  background-color: lightgray;
  width: 10%;
}
#skills .tech-skills .row-three {
  background-color: #ff4f00;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  transition: all 0.3s;
  border: solid 1px #eee;
  width: 20%;
}
#skills .exp-per4 {
  font-weight: bold;
  border: solid 1px #eee;
  padding: 5px 10px;
  display: inline-block;
  background-color: lightgray;
  width: 10%;
}
#skills .tech-skills .row-four {
  background-color: #ff4f00;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  transition: all 0.3s;
  border: solid 1px #eee;
  width: 20%;
}
#skills .exp-per5 {
  font-weight: bold;
  border: solid 1px #eee;
  padding: 5px 10px;
  display: inline-block;
  background-color: lightgray;
  width: 10%;
}
#skills .tech-skills .row-five {
  background-color: #ff4f00;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  transition: all 0.3s;
  border: solid 1px #eee;
  width: 20%;
}
#skills .skills-box .tech-skills .row-one:hover {
  width: 40%;
}
#skills .skills-box .tech-skills .row-two:hover {
  width: 75%;
}
#skills .skills-box .tech-skills .row-three:hover {
  width: 65%;
}
#skills .skills-box .tech-skills .row-four:hover {
  width: 60%;
}
#skills .skills-box .tech-skills .row-five:hover {
  width: 77%;
}

#skills .skills-box .language {
  display: inline-block;
  width: 38%;
  padding: 20px;
  border: solid 1px #eee;
  box-sizing: border-box;
  transition: all 0.3s;
  margin: 10px;
}
#skills .skills-box .language:hover {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.29);
  margin: 0;
}
#skills .skills-box .language span {
  display: inline-block;
  padding: 15px 10px;
  color: white;
  background-color: #ff4f00;
  border-radius: 50px;
  margin-right: 20px;
}

/* Common Desktop Screen Resolution-1366×768 – 23.49% */
@media screen and (max-width: 1025px) {
  header {
    display: none;
  }

  .all-container {
    margin: 0;

    flex-basis: auto;
  }
  #home {
    margin: 0;
  }
}

/* Common Tablet Screen Resolution-768×1024 – 51.98% */

@media screen and (max-width: 769px) {
  #what .wrapper {
    margin-bottom: 200px;
  }

  #what .box {
    margin: 15px;
    width: 150px;
  }
  #skills .skills-box .tech-skills .row-one:hover {
    width: 30%;
  }
  #skills .skills-box .tech-skills .row-two:hover {
    width: 65%;
  }
  #skills .skills-box .tech-skills .row-three:hover {
    width: 55%;
  }
  #skills .skills-box .tech-skills .row-four:hover {
    width: 50%;
  }
  #skills .skills-box .tech-skills .row-five:hover {
    width: 67%;
  }
}

/* Common Mobile Screen Resolution-375×640 – 17.91% */
@media screen and (max-width: 376px) {
  html,
  body,
  .all-wrapper,
  .all-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
  }

  #home .btn {
    width: 150px;
    margin: 10px auto 10px auto;
  }

  #home img {
    text-align: center;
  }

  #what .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 0;
  }

  #what .box {
    margin: 15px;
    flex-basis: 35%;
    font-size: 18px;
    height: 180px;
    width: 150px;
  }

  section {
    margin: 0;
  }
  .skills,
  #experience .experience-grid,
  #about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  #about .img-about {
    width: 375px;
    padding: 0;
  }

  h1 {
    text-align: center;
  }

  #about h1 {
    margin: auto;
  }
  #about h1,
  p {
    text-align: center;
    width: fit-content;
    padding: 15px;
    box-sizing: border-box;
    border: none;
  }
  #about table {
    text-align: center;
  }
  #about button {
    margin: 30px auto 0 auto;
  }
  #experience {
    padding: 10px;
  }

  #experience .experience-box {
    width: fit-content;
  }
  #experience .experience-grid {
    margin: 0;
    box-sizing: border-box;
  }
  #experience .experience-box {
    padding: 0;
  }
}
